@import './navbar.scss';
@import './box-shadow.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*$font-content: 'Lato', sans-serif;
*/

h1, h2, h3, h4, h5, h6 {
  font-family: 'Varela Round', sans-serif;
}

p {
  font-family: 'Varela Round', sans-serif !important;
}
.right-arrow {
  color: dodgerblue;
  font-size: 22px;
  margin-right: 20px;
}

.student-course-container {
  padding-bottom: 20px;
}

.my-courses {
  color: dodgerblue;
}

.live-course {
  color: dodgerblue;
}

.draft-course {
  color: darkorange;
}

.fav-btn {
  background-color: transparent;
  border: none;
  // position: relative !important;
  // right: 5% !important;
  float: left;
  font-size: 23px;
}

.admin-jumbo {
  padding-top: 0;
  padding-bottom: 0;
}

.student-jumbo {
  padding-top: 0;
  padding-bottom: 0;
}


.panel-footer {
  background-color: white;
}

.res-link {
  float: right;
  font-size: 23px;
}

.res-footer {
  list-style: none;
}

.res-links li {
  display: inline;
  margin: 3px 5px 5px 3px;
}

.res-cats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.res-courses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

p, a {
  font-family: 'Lato', sans-serif;
}

.vert-nav-btn {
  color: red;
}

.dash-jumbo {
  background-image: url('/hero1.jpg');
  color: white;
}

.dash-jumbo h1{
  text-shadow: 2px 2px black;
}

.playbook-panel {
  width: 30%;
  min-height: 255px;
  font-size: 16px;
  color: white;
  padding: 20px;
  border-radius: 5px;
  margin: 5px 1% 1% 5px;
  background-color: #DB5C7E;
  height: 270px;
  padding: 15px;
}

.playbook-panel .panel-heading {
  font-size: 24px;
  background-color: #DB5C7E;
  color: white;
  border: none;
  font-weight: bold;
}

.navbar-brand {
  height: auto;

}

.navbar-default .navbar-nav > li > a {
  font-size: 20px;
  margin-right: 20px;
  vertical-align: middle;
}

.mt-logo {
  height: auto;
  max-width: 200px;
  position: fixed;
  top: 0;
  left: 0;
}
@media (min-width: 1300px) {
  .mt-logo {
    margin-left: 5%;
  }
}

@media (max-width: 1000px) {
  .mt-logo {
    max-width: 50px;
  }
}

@media (max-width: 819px) {
  .mt-logo {
    display: none;
  }
}

.playbook-panel .panel-footer {
  background-color: #2980b9;
  width: 40%;
  border-color: #2980b9;
}

.user-auth-btn {
  background-color: #DB5C7E;
  margin: 10px 20px 10px 0;
    padding: 0 2px 0 2px;
}

.user-text {
  padding: 0 2px 0 2px;
}


.playbook-flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.resource-flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: initial;
  align-content: flex-start;
}


.resource-panel .panel-heading {
  font-weight: bold;
  text-align: center;
  background-color: white;
}
.resource-panel {
    /* Or whatever */
  height: 100%; /* Or whatever */
  max-width: 33%;
  margin-right: 10%;
}

@media (max-width: 728px ) {
  .playbook-panel {
      width: 100%;
  }
}

.nav-tabs {
  border-bottom: 1px dashed #ddd;
  margin-bottom: 3%;
}

.nav-pills {
  margin-bottom: 3%;
}


.main-nav {
  background-color: #4CB5B5;
  border: none;
}

.navbar-brand {

}

.navbar-brand, a {

}


.jumbotron {
  background-color: white;
}

.dash-btn {
  margin: 5px;
  background-color: white;
  color: #337ab7;
}

.dash-cont-left {
  float: left
}

.dash-cont-right {
  float: right
}

.dash-cont-right strong{
  padding: 80px 60px 10px 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.panel {
  box-shadow: $primary-shadow;
}

.btn-group-vertical {
  box-shadow: $primary-shadow;
  max-height: 200px;
  overflow: scroll;
}

.resources-main-filter {
  color: #337ab7;
  background-color: white;
  border-radius: 4px;
  padding: 10px 15px;
  border: solid 1px #337ab7;
}

.resources-main-filter-active {
  color: white;
  background-color: #337ab7;
  border-radius: 4px;
  padding: 10px 15px;
  border: solid 1px #337ab7;
}

.active-checkpoint {
  color: white;
  background-color: #337ab7;
  border: solid 1px #337ab7;
  &:active {
    color: white;
    background-color: #337ab7;
    border: solid 1px #337ab7;
  }
}

.active-category {
  color: white;
  background-color: #337ab7;
  border: solid 1px #337ab7;
  &:active {
    color: white;
    background-color: #337ab7;
    border: solid 1px #337ab7;
  }
}
