@import './box-shadow.scss';

.customNav {
  background-color: white;
  box-shadow: $primary-shadow;
}

@media(max-width: 996px){
  .customNav {
    border-bottom: solid 1px #ccc;
    box-shadow: none;
  }

}
